body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    border: 1px solid purple;
    width: 100%;
    height: 60vh;
    width: 350px;
    background-color: purple;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    border-radius: 20px;
}

span{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.content .userBox,.userPass{
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-content: center;
    margin: 2%;
    background-color: white;
    color: aqua;
    width: 250px;
    
}
.content input{
    
    outline: none;
    border: none;
    border-left: 2px solid powderblue;
    padding-left: 10px;
    
}
.content div i{
    margin-top: 12px;
    margin-right: 20px;
    
}

.content .userBox:hover,.userPass:hover{
    border-color:aqua ;
}

.content button{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    
}
.content button:hover{
    background-color: #ffd43b;
    outline: none;
    border: none;
}

.content .content-footer{
    display: grid;
    width: 300px;
    grid-template-columns: auto auto;
    line-height: 20px;
    margin-left: 40px;

    
}
.content .content-footer a{
    text-decoration: none;
    color: blue;
}

#login>p{
    color: red;
}



